<div class="matrix-container">
    <h2>{{ 'SECURITY_MATRIX.TITLE' | translate }}</h2>
    <p class="subtitle">{{ 'SECURITY_MATRIX.SUBTITLE' | translate }}</p>

    <div *ngIf="isLoading" class="loading">
        Chargement...
    </div>

    <div *ngIf="!isLoading" class="table-container">
        <table class="matrix-table">
            <thead>
                <tr>
                    <th style="width: 80px;" [matTooltip]="'SECURITY_MATRIX.TOOLTIP.LEVEL' | translate">
                        {{ 'SECURITY_MATRIX.LEVEL' | translate }} <mat-icon
                            style="font-size: 16px; vertical-align: middle;">info</mat-icon>
                    </th>
                    <th [matTooltip]="'SECURITY_MATRIX.TOOLTIP.REQUIRED_VALIDATORS' | translate">
                        {{ 'SECURITY_MATRIX.REQUIRED_VALIDATORS' | translate }} <mat-icon
                            style="font-size: 16px; vertical-align: middle;">info</mat-icon>
                    </th>
                    <th style="width: 150px;" [matTooltip]="'SECURITY_MATRIX.TOOLTIP.UNANIMITY' | translate">
                        {{ 'SECURITY_MATRIX.UNANIMITY' | translate }} <mat-icon
                            style="font-size: 16px; vertical-align: middle;">info</mat-icon>
                    </th>
                    <th style="width: 100px;" [matTooltip]="'SECURITY_MATRIX.TOOLTIP.QUORUM' | translate">
                        {{ 'SECURITY_MATRIX.QUORUM' | translate }} <mat-icon
                            style="font-size: 16px; vertical-align: middle;">info</mat-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rule of config.rules">
                    <td class="level-cell">
                        <span class="badge-level level-{{rule.level}}">{{ rule.level }}</span>
                    </td>
                    <td>
                        <div class="validators-list">
                            <div *ngFor="let supervisor of supervisors" class="validator-item">
                                <input type="checkbox" [id]="'val-' + rule.level + '-' + supervisor._id"
                                    [checked]="isValidatorSelected(rule, supervisor._id)"
                                    (change)="toggleValidator(rule, supervisor._id, $event)">
                                <label [for]="'val-' + rule.level + '-' + supervisor._id">
                                    {{ supervisor.nom }} {{ supervisor.prenom }}
                                </label>
                            </div>
                            <div *ngIf="supervisors.length === 0" class="no-supervisors">
                                Aucun superviseur sécurité trouvé.
                            </div>
                        </div>
                    </td>
                    <td class="center-cell">
                        <input type="checkbox" [(ngModel)]="rule.requireUnanimity">
                    </td>
                    <td class="center-cell">
                        <input type="number" [(ngModel)]="rule.quorum" [disabled]="rule.requireUnanimity" min="1"
                            class="quorum-input">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="actions">
            <button class="btn-save" (click)="save()">Enregistrer la Configuration</button>
        </div>
    </div>
</div>